<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %>

<div class="gradient-background">
    <div class="background-box">
        <h1>HOME PAGE</h1>
        <br>
        <p style="color: white;"> <p>By using our site, you acknowledge that you have read and understand our </p>
        <br>
        <a href="/privacy-policy">PRIVACY POLICY</a>
    </div>
    <div id="main-page-buttons">
        <a href="/auth/steam">
            <button>STEAM LOGIN</button>
        </a>
        <p style="color: white; font-size: larger; margin-top: 1rem;"> OR </p>
        <a href="/alt-login">
            <button>ALT LOGIN</button>
        </a>
    </div>
</div>