<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %>


<div class="gradient-background">
    <div class="background-box">
        <h1> Enter a Room! </h1>
        <h6 id="isUser"></h6>
    </div>
        <div id="roomChoiceButtons">
            <form action="/room-choice" method="post">
                <input type="hidden" name="role" value="Host" />
                <button type="submit" style="margin: 5px">Create Room</button>
            </form>
            <form action="/join-room" method="get">
                <input type="hidden" name="role" value="Member" />
                <button type="submit" style="margin: 5px">Join Room</button>
            </form>
        </div>
</div>
    
<script>
    let username = document.querySelector('#isUser');
    let temp = Cookies.get('username');
    // TODO: Change the username to a different color
    username.innerHTML = `Welcome ${temp}!`;
    // let userImage = document.querySelector('.background-box');
    // TODO: Append an image of the user icon here
</script>