body {
    background-color: #17293E;
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

a {
    color:white;
}

a:hover {
    color:#9FE544;
}

label {
    color: white;
}

button {
    font-family: 'Kanit', sans-serif;
    background-color: #6F9F31;
    color: white;
    padding: 1vh 2vw;
    font-size: large;
    border: none;
    /* Key for Lift Off effect */
    transition: all .3s ease-in-out;
}

button:hover {
    /* the 3D transform here is key to the effect */
    transform: translate3d(0px, -1px, 0px);
    /* this stronger shadow sells that the card is being lifted up */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#main-page-buttons {
    margin-top: 2rem;
}

.background-box {
    margin-top: 10vh;
    max-width: 50vw;
    display: inline-flex;
    flex-direction: column;   
    background-color: #171A21;
    text-align: center;
    padding: 20vh;
}

/*  */
#toGrab, #recGames {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameTitle {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: larger;
}

.gameTag {
    background-color: #243C4F;
    font-family: 'Kanit', sans-serif;
    margin-top: 3.5vh;
    letter-spacing: 0.75px;
    color: #82D3FF;
    align-self: flex-start;
    border-radius: 6px;
    padding: 8px;
}

.seperator {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
}

.gameItem {
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    background-color: #171A21;
    width: 55vw;
    /* Key for Lift Off effect */
    transition: all .3s ease-in-out;
}

.gameItem:hover {
    /* the 3D transform here is key to the effect */
    transform: translate3d(0px, -1px, 0px);
    /* this stronger shadow sells that the card is being lifted up */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.gameImage {
    max-height: 15vh;
}

.gameMemberText {
    font-family: 'Kanit', sans-serif;
    color: #B1B1B1;
    text-decoration: underline;
}

.roomMembers {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: 1vw;
}

.roomMemberImages {

}

#backButton {
    max-height: 5vh;
}

.userIconInList {
    max-height: 7vh;
    align-self: center;
}

.gradient-background {
    background-image: linear-gradient(90deg,
        rgba(0,0,0,0) 10%,
        #213e59 30%,
        #213e59 80%,
        rgba(0,0,0,0) 90%);
}

/* TODO: Figure out SVG Logo */
/* #logo {
    width: auto;
    height: 8vh;
} */
#logo {
    max-height: 8vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

nav {
    background-color: #0B0E13;
    max-height: 10vh;
    display: flex;
    justify-content: center;
}

#logoItem {
    flex: 1;
}

#backItem {
    align-self: center;
}

#roomChoiceButtons {
    display: flex;
    justify-content: center;
}

#isUser {
    color: white;
}